:root{
    --primary-background: darkblue;
    --secondary-background: lightblue;
    --primary-text: black;
    --secondary-text:white;
    --border-radius:5%;
    --primary-border: white, solid, 3px;
}

/* header {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    display:flex;
} */

header {
    border-radius: 5%;
}
body {
    background-image: url("../images/lake\ view.jpg");
    background-size: cover;
    background-attachment:fixed;
}

.hero {
    flex-wrap: wrap;
}

.title {
    background: var(--secondary-background);
    color: var(--secondary-text);
    justify-content: center;
    font-size: 42px;
    border-style: var(--primary-border)
}

.card {
    background-color: var(--secondary-background);
    padding: 5px;
    border: white, 5px, solid;
}

.card-header {
    color: var(--secondary-text);
    font-size: 24px;
    margin-top:3px;
}
.btn {
    margin-top: 5px;
}
.history{
    text-transform: uppercase;
}

.subtitle {
    border: white, solid, 15px;
    border-radius: 5%;
    background-color: var(--secondary-background);
    font-size: 36px;
    justify-content: center;
    color: var(--secondary-text);
}
.dayDiv{
    border: solid, black, 5px;
    margin: 5px;
    padding: 5px;
    background-color: var(--secondary-background);
}

.current{
    background-color: var(--secondary-background);
}

.previousBtn {
    margin: 10px;
}

.history {
    margin: 10px;
}